.portfolioCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px 0;
  width: 82%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.portfolioCard:hover {
  transform: scale(105%);
}

.cardHeader {
  font-size: 18px;
  margin-bottom: 10px;
}

.cardContent {
  margin-bottom: 10px;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 16px;
}

.cardValue {
  font-size: 22px;
  font-weight: bold;
}
