.searchContainer {
  width: 90%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  padding: 10px 10px 30px 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.searchWrapper {
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.searchInput {
  width: 75vw;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 10px;
}
