.container {
  width: 100%;
  font-family: Arial, sans-serif;
}

.hexagonal {
  width: 50%;
  height: 50%;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 150px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageLink {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pageLink:hover {
  background-color: #005bb5;
}

.offlineMessage {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
